:80 {
    root * /var/www/korka
    encode gzip zstd

    try_files /assets{path} {path}

    php_fastcgi php:9000

    file_server
}

korka.magwoo.ru {
    root * /var/www/korka
    encode gzip zstd

    try_files /assets{path} {path}

    php_fastcgi php:9000

    file_server
}

database.magwoo.ru {
    basicauth {
        admin $2a$12$g6ZbOPOlIwWS/dqo0qpho..FXPIvquWkJ8eyQa8eHruhF.OC08Sza
    }

    reverse_proxy http://phpmyadmin
}
